.form {
  padding: 10px;
}

.textarea {
  border-radius: 10px;
  font-size: 15px;
  min-height: 200px;
  outline: 0;
  padding: 15px;
  resize: none;
  width: 100%;
}

.section {
  position: relative;
}

.button {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
}

.button svg {
  width: 32px;
  height: 32px;
}

.form img {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.form div {
  padding: 15px;
}
