.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  height: 45vh;
  margin-bottom: 30px;
}

.header img {
  width: 120px;
}

.header h1 {
  color: var(--primary-color);
  font-weight: 800;
  margin: 15px 0;
  font-size: 32px;
}

.header h2 {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
}

.user {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
