.button {
    align-items: center;
    background: var(--black);
    border-radius: 9999px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    padding: 8px 24px;
    transition: all .5s ease;
}

.button:hover {
    opacity: .7;
}

.button > :global(svg) {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}