.article {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 15px;
}

.div {
  margin-right: 10px;
}

.date {
  color: #555;
  font-size: 14px;
}

.section p { 
  line-height: 1.3125;
}