.article {
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 15px;
}

.article:hover {
  background: #f5f8fa;
  cursor: pointer;
}

.div {
  margin-right: 10px;
}

.anchor {
  color: #555;
  font-size: 14px;
}

.anchor:hover {
  text-decoration: underline;
}

.section p { 
  line-height: 1.3125;
}

.section img {
  border-radius: 10px;
  height: auto;
  width: 100%;
  margin-top: 10px;
}
