.main {
    width: 100vw;
    height: 100vh;
}

.title {
    width: 100vw;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

.navbar {
    width: 90vw;
    margin: 0 auto;
    background-color: lightcoral;
    padding: 10px;
}

.link {
    font-weight: 600;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}